.global-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.global-header > a {
  padding: 1rem;
  text-decoration: none;
  color: black;
  font: 500 14px "Dosis", "Open Sans", "Arial", sans-serif;
  color: hsl(0deg 0% 40%);
  line-height: 51px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transform: scaleY(1.25);
  transform: scaleX(0.85);
  -webkit-font-smoothing: antialiased;
  transition: color 0.3s ease;
}

.global-header > a:hover {
  color: red;
}
.global-header > a > .max-title {
  color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.global-header > a > .max-title > .max-title-vita {
  letter-spacing: 14px;
  font-size: 24px;
  white-space: nowrap;
  margin-bottom: -14px;
  transform: scaleY(1.15);
  transform: scaleX(0.9);
  color: rgb(109, 109, 109);
}

.global-header > a > .max-title > .max-title-photograpy {
  letter-spacing: 15px;
  transform: scaleX(0.97);
}

.global-header > a > .max-title > * {
  margin: 0;
  padding: 0;
}

main {
  min-height: calc(100vh - 120px - 48px - 72px);
}

.max-main-image-wrapper {
  grid-column-gap: 5px;
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 600px));
  grid-template-rows: 300px;
  grid-row-gap: 5px;
}

.max-main-image {
  filter: grayscale(100%);
  transition: filter 0.3s linear;
}

.max-main-image:hover {
  filter: grayscale(0%);
}

.max-separator {
  height: 2px;
  background: linear-gradient(
    90deg,
    rgb(255, 245, 210) 0%,
    rgba(255, 175, 0, 1) 39%,
    rgba(255, 149, 0, 1) 77%,
    rgb(255, 235, 207) 100%
  );
  background-size: 600% 600%;
  opacity: 0.1;
  border-radius: 10%;

  margin-bottom: 34px;

  animation: AnimationName 30s ease infinite;
}

.max-two-column-wide {
  grid-column: span 2;
  max-height: 300px;
  overflow: hidden;
}

.max-two-row-high {
  grid-row: span 2;
  max-width: 300px;
  overflow: hidden;
}

.max-image-modal-wrapper {
  background: rgba(255, 255, 255, 0.726);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -128;
  transition: opacity 0.4s linear, z-index 0s cubic-bezier(0, 1, 1, 0);
}

.max-show {
  opacity: 1;
  z-index: 128;
}

.max-carousel {
  max-height: 100vh;
  width: 900px;
}

.max-contact-form-container {
  display: flex;
  flex-direction: column;
  width: 45%;
  background: #edebe8;
  padding: 10px 20px;
  margin-bottom: 5px;
  border: 5px solid white;
}

.max-contact-form-container > label {
  color: white;
  margin-top: 15px;
}

.max-contact-form-container > input,
textarea {
  border: 1px goldenrod;
  background: white;
}

textarea {
  height: 150px;
}

.max-map-container {
  position: absolute;
  width: 100vw;
  height: calc(100vh);
  left: 0;
  top: 0;
  overflow: hidden;
  z-index: -1;
}

.max-map-image {
  margin-top: 300px;
  cursor: pointer;
}

@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
